@{
    ViewBag.Title = "Contact";
}

<head>
    <link href="https://fonts.cdnfonts.com/css/games" rel="stylesheet">
</head>

<style>
    body {
        margin-top: 20px;
        background: #e2e2e5;
        background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-carbon-fiber-abstract-background-with-red-lights-picture-image_1200965.jpg");
        background-repeat: repeat;
        background-position: top;
        color: white;
        text-align : center;
    }
    }
</style>
<body>
   
    <br />
    <br />
    <br />
    <br />

    <h1 style=" font-family: 'Games',sans-serif;color:white">Contact</h1>
    <hr />




    <p>Vous voulez rester au courant des nouveautés dans le monde de GameStore ? Besoin d'aide ou avez des questions? Nous avons ce qu'il vous faut! Rendez-vous sur Facebook ou envoyez-nous simplement un e-mail. Nous sommes là à chaque étape du processus pour faire de GameStore un moyen de jouer sans effort et agréable.</p>

    <address>
        Tunisie<br />
        Manouba, 2010<br />
        <abbr title="Phone">P:</abbr>
        50356710
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gamestore.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gamestore.com</a>
    </address>
    <br />

</body>

